<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.IntermediateColor" title="@Strings.IntermediateColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HourStepsColor" title="@Strings.HourStepsColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HourStepsColorFullBool" title="@Strings.HourStepsColorFullBool" prompt="@Strings.Prompt">
            <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.HourStepsColorFull" title="@Strings.HourStepsColorFullTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.PROP_ICONS_COLOR" title="@Strings.IconsColor" prompt="@Strings.Prompt">
            <settingConfig type="boolean" errorMessage="@Strings.Error" />
    </setting>
        
    <setting propertyKey="@Properties.PROP_FIELD_0" title="@Strings.Field0" prompt="@Strings.Prompt">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Empty</listEntry>
                <listEntry value="1">@Strings.Hour</listEntry>
                <listEntry value="2">@Strings.Minute</listEntry>
                <listEntry value="3">@Strings.LargeHour</listEntry>
                <listEntry value="4">@Strings.LargeMinute</listEntry>
                <listEntry value="15">@Strings.LargeHourSteps</listEntry>
                <listEntry value="5">@Strings.AnalogClock</listEntry>
                <listEntry value="6">@Strings.LargeAnalogClock</listEntry>
                <listEntry value="7">@Strings.LargeAnalogInfoClock</listEntry>
                <listEntry value="8">@Strings.Steps</listEntry>
                <listEntry value="9">@Strings.StepsInfo</listEntry>
                <listEntry value="10">@Strings.Date</listEntry>
                <listEntry value="11">@Strings.DeviceInfo</listEntry>
                <listEntry value="12">@Strings.DateDeviceInfo</listEntry>
                <listEntry value="13">@Strings.Batterygauge</listEntry>
                <listEntry value="14">@Strings.SunriseSunsetTimes</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.PROP_FIELD_1" title="@Strings.Field1" prompt="@Strings.Prompt">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Empty</listEntry>
                <listEntry value="1">@Strings.Hour</listEntry>
                <listEntry value="2">@Strings.Minute</listEntry>
                <listEntry value="3">@Strings.LargeHour</listEntry>
                <listEntry value="4">@Strings.LargeMinute</listEntry>
                <listEntry value="15">@Strings.LargeHourSteps</listEntry>
                <listEntry value="5">@Strings.AnalogClock</listEntry>
                <listEntry value="6">@Strings.LargeAnalogClock</listEntry>
                <listEntry value="8">@Strings.Steps</listEntry>
                <listEntry value="9">@Strings.StepsInfo</listEntry>
                <listEntry value="10">@Strings.Date</listEntry>
                <listEntry value="11">@Strings.DeviceInfo</listEntry>
                <listEntry value="12">@Strings.DateDeviceInfo</listEntry>
                <listEntry value="13">@Strings.Batterygauge</listEntry>
                <listEntry value="14">@Strings.SunriseSunsetTimes</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.PROP_FIELD_2" title="@Strings.Field2" prompt="@Strings.Prompt">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Empty</listEntry>
                <listEntry value="1">@Strings.Hour</listEntry>
                <listEntry value="2">@Strings.Minute</listEntry>
                <listEntry value="3">@Strings.LargeHour</listEntry>
                <listEntry value="4">@Strings.LargeMinute</listEntry>
                <listEntry value="15">@Strings.LargeHourSteps</listEntry>
                <listEntry value="5">@Strings.AnalogClock</listEntry>
                <listEntry value="6">@Strings.LargeAnalogClock</listEntry>
                <listEntry value="8">@Strings.Steps</listEntry>
                <listEntry value="9">@Strings.StepsInfo</listEntry>
                <listEntry value="10">@Strings.Date</listEntry>
                <listEntry value="11">@Strings.DeviceInfo</listEntry>
                <listEntry value="12">@Strings.DateDeviceInfo</listEntry>
                <listEntry value="13">@Strings.Batterygauge</listEntry>
                <listEntry value="14">@Strings.SunriseSunsetTimes</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.PROP_FIELD_3" title="@Strings.Field3" prompt="@Strings.Prompt">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Empty</listEntry>
                <listEntry value="1">@Strings.Hour</listEntry>
                <listEntry value="2">@Strings.Minute</listEntry>
                <listEntry value="3">@Strings.LargeHour</listEntry>
                <listEntry value="4">@Strings.LargeMinute</listEntry>
                <listEntry value="15">@Strings.LargeHourSteps</listEntry>
                <listEntry value="5">@Strings.AnalogClock</listEntry>
                <listEntry value="6">@Strings.LargeAnalogClock</listEntry>
                <listEntry value="8">@Strings.Steps</listEntry>
                <listEntry value="9">@Strings.StepsInfo</listEntry>
                <listEntry value="10">@Strings.Date</listEntry>
                <listEntry value="11">@Strings.DeviceInfo</listEntry>
                <listEntry value="12">@Strings.DateDeviceInfo</listEntry>
                <listEntry value="13">@Strings.Batterygauge</listEntry>
                <listEntry value="14">@Strings.SunriseSunsetTimes</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.PROP_FIELD_4" title="@Strings.Field4" prompt="@Strings.Prompt">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Empty</listEntry>
                <listEntry value="1">@Strings.Hour</listEntry>
                <listEntry value="2">@Strings.Minute</listEntry>
                <listEntry value="3">@Strings.LargeHour</listEntry>
                <listEntry value="4">@Strings.LargeMinute</listEntry>
                <listEntry value="15">@Strings.LargeHourSteps</listEntry>
                <listEntry value="5">@Strings.AnalogClock</listEntry>
                <listEntry value="6">@Strings.LargeAnalogClock</listEntry>
                <listEntry value="8">@Strings.Steps</listEntry>
                <listEntry value="9">@Strings.StepsInfo</listEntry>
                <listEntry value="10">@Strings.Date</listEntry>
                <listEntry value="11">@Strings.DeviceInfo</listEntry>
                <listEntry value="12">@Strings.DateDeviceInfo</listEntry>
                <listEntry value="13">@Strings.Batterygauge</listEntry>
                <listEntry value="14">@Strings.SunriseSunsetTimes</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.PROP_FIELD_5" title="@Strings.Field5" prompt="@Strings.Prompt">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Empty</listEntry>
                <listEntry value="1">@Strings.Hour</listEntry>
                <listEntry value="2">@Strings.Minute</listEntry>
                <listEntry value="3">@Strings.LargeHour</listEntry>
                <listEntry value="4">@Strings.LargeMinute</listEntry>
                <listEntry value="15">@Strings.LargeHourSteps</listEntry>
                <listEntry value="5">@Strings.AnalogClock</listEntry>
                <listEntry value="6">@Strings.LargeAnalogClock</listEntry>
                <listEntry value="8">@Strings.Steps</listEntry>
                <listEntry value="9">@Strings.StepsInfo</listEntry>
                <listEntry value="10">@Strings.Date</listEntry>
                <listEntry value="11">@Strings.DeviceInfo</listEntry>
                <listEntry value="12">@Strings.DateDeviceInfo</listEntry>
                <listEntry value="13">@Strings.Batterygauge</listEntry>
                <listEntry value="14">@Strings.SunriseSunsetTimes</listEntry>
            </settingConfig>
        </setting>

</settings>